.voice-modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    background-color: white;
    height: 350px;
    width: 500px;
}

.voice-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 24px;
}

.voice-modal-points-container {
    margin: 24px;
}

.voice-setting-header {
    text-align: center;
}

.voice-modal-footer {
    display: flex;
    justify-content: center;
}