.voice-settings-card-body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: left;
  row-gap: 6px;
  margin: 24px;
}

.card-delete-button {
  width: auto;
  cursor: pointer;
  align-self: flex-start;
  padding: 0 !important;
}

.voice-settings {
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.date-time {
  font-size: 12px;
  font-weight: 400;
}

.avtar-container {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

.voice-settings-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 16px;
}
